* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 20px 24px;
    margin: 0 auto;
    background: #F7FAFC;
}

@media (max-width: 400px) {
    .main {
        width: 368px;
        height: 500px;
        border-radius: 24px;
        margin-left: 20px;
        position: relative;
        top: 48px;
        background: #DBEAFE;
    }

    .main-text h1 {
        display: flex;
        width: 304px;
        height: 135px;
        font-size: 36px;
        color: #2D3748;
        margin-top: 80px;
        position: relative;
        top: 32px;
        margin-bottom: 40px;
        margin-left: 32px;
    }

    .main-text p {
        display: flex;
        width: 288px;
        height: 108px;
        padding-top: 26px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        margin-left: 32px;
        color: #4B5563;
    }

    .main-text img {
        width: 211px;
        height: 44px;
        margin-left: 32px;
        margin-top: 64px;
    }

    .main-link img {
        width: 168.77px;
        height: 44px;
        margin-top: 16px;
    }

    .section-cards {
        background: #FFFFFF;
        margin-left: 16px;
        margin-right: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    }

    .section-text h2 {
        display: flex;
        margin-top: 100px;
        width: 137.78px;
        height: 61px;
        margin-left: 20px;
    }

    .section-text img {
        display: flex;
        margin-left: 229.64px;
        position: relative;
        bottom: 55px;
    }

    .section-cards-item img {
        width: 367.5px;
        height: 250px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .section-csrdas-data img {
        width: 12px;
        height: 12px;
        margin-left: 41px;
        margin-top: 28px;
    }

    .section-csrdas-data p {
        position: relative;
        bottom: 20px;
        width: 77.12px;
        height: 20px;
        margin-left: 57px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6B7280;
    }

    .section-cards-paragrouph h1 {
        display: flex;
        width: 240px;
        height: 52px;
        font-weight: 600;
        font-size: 20px;
        color: #020817;
        margin-left: 41px;
    }

    .section-cards-paragrouph p {
        display: flex;
        width: 255.83px;
        height: 61px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #64748B;
        margin-left: 41px;
        position: relative;
        top: 10px;
    }

    .section-cards-paragrouph img {
        width: 116.88px;
        height: 40px;
        margin-left: 41px;
        position: relative;
        margin-top: 26px;
        margin-bottom: 26px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .computer_clasroom_cards-item img {
        width: 368px;
        height: 192px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .computer_clasroom_cards-item .data-icons {
        display: flex;
        position: relative;
        width: 12px;
        height: 12px;
        margin-left: 41px;
        margin-top: 28px;
    }

    .computer_clasroom_cards-item p {
        position: relative;
        bottom: 16px;
        width: 108.31px;
        height: 20px;
        margin-left: 57px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6B7280;
    }

    .computer_classroom-paragrouph h1 {
        display: flex;
        width: 240px;
        height: 52px;
        font-weight: 600;
        font-size: 20px;
        color: #020817;
        margin-left: 41px;
    }

    .computer_classroom-paragrouph p {
        display: flex;
        width: 255.83px;
        height: 61px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #64748B;
        margin-left: 41px;
        position: relative;
        margin-bottom: 30px;
        top: 10px;
    }

    .computer_classroom {
        width: 368px;
        height: 474px;
        border-radius: 24px;
        margin-left: 16px;
        position: relative;
        top: 48px;
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    }

    .computer_classroom-paragrouph img {
        width: 116.88px;
        height: 40px;
        margin-left: 41px;
        position: relative;
        margin-top: 12px;
        margin-bottom: 26px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .Parental_schedule_cards-item img {
        width: 369px;
        height: 192px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        position: relative;
    }

    .Parental_schedule_cards-item .data-icons {
        display: flex;
        position: relative;
        width: 12px;
        height: 12px;
        margin-left: 41px;
        margin-top: 28px;
    }

    .Parental_schedule_cards-item p {
        position: relative;
        width: 108.31px;
        height: 28px;
        margin-left: 57px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6B7280;
        bottom: 16px;
    }

    .Parental_schedule-paragrouph h1 {
        display: flex;
        height: 52px;
        font-weight: 600;
        font-size: 20px;
        color: #020817;
        margin-left: 41px;
    }

    .Parental_schedule-paragrouph p {
        display: flex;
        width: 303.85px;
        height: 44px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #64748B;
        margin-left: 41px;
        position: relative;
        margin-bottom: 30px;
        top: 10px;
    }

    .Parental_schedule-paragrouph img {
        width: 116.88px;
        height: 40px;
        margin-left: 41px;
        margin-bottom: 26px;
    }

    .Parental_schedule {
        background: #FFFFFF;
        width: 368px;
        height: 450px;
        border-radius: 24px;
        margin-left: 16px;
        position: relative;
        top: 48px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        margin-top: 48px;
        margin-bottom: 64px;
    }

    .Quick_links-text {
        display: flex;
        height: 68px;
        font-size: 20px;
        font-weight: 600;
        align-items: center;
        background: #EFF6FF;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding-left: 24px;
    }

    .Quick_links {
        background: #FFFFFF;
        width: 368px;
        height: 440px;
        border-radius: 16px;
        margin-left: 16px;
        position: relative;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        margin-bottom: 64px;
        top: 30px;
    }

    .Quick_links-text-link {
        display: flex;
        background: #DBEAFE;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 12px;
    }

    .Quick_links-text-link img {
        display: flex;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .Quick_links-text-link p {
        display: flex;
        white-space: nowrap;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 10px;
    }

    .Quicl_links-text-link_School_documents {
        display: flex;
        background: #DBEAFE;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 12px;
    }

    .Quicl_links-text-link_School_documents img {
        display: flex;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .Quicl_links-text-link_School_documents P {
        display: flex;
        white-space: nowrap;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 10px;
        line-height: 24px;
    }

    .Quick_links-text-link_School_documents:hover {
        background: #BFDBFE
    }

    .Quick_links-text-link_Our_teachers img {
        display: flex;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .Quick_links-text-link_Our_teachers p {
        display: flex;
        white-space: nowrap;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 10px;
        line-height: 24px;
    }

    .Quick_links-text-link_Our_teachers:hover {
        background: #BFDBFE
    }

    .Quick_links-text-link_Our_teachers {
        display: flex;
        background: #DBEAFE;
        width: 40PX;
        height: 40px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 12px;
    }

    .Qucik_links-text-link_Available_courses img {
        display: flex;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .Qucik_links-text-link_Available_courses p {
        display: flex;
        white-space: nowrap;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 10px;
        line-height: 24px;
    }

    .Qucik_links-text-link_Available_courses:hover {
        background: #BFDBFE;
    }

    .Qucik_links-text-link_Available_courses {
        display: flex;
        background: #DBEAFE;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 12px;
    }

    .Our_Teachers {
        position: relative;
        top: 90px;
        width: 368px;
        margin-left: 16px;
    }


    .Our_Teachers-text h2 {
        display: flex;
        width: 197.94px;
        height: 36px;
        font-weight: 700;
        font-size: 30px;
        color: #111827;
        margin-left: 85.02px;
    }

    .Our_Teachers-text p {
        display: flex;
        width: 319.99px;
        height: 68px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-left: 24.97px;
        margin-top: 18px;
    }

    .Our_Teachers-cards-item {
        display: flex;
        flex-direction: column;
        width: 366px;
        height: 440px;
        border-radius: 24px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        margin-top: 48px;
    }

    .Our_Teachers-cards-item img {
        display: flex;
        width: 367px;
        height: 368px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .Our_Teachers-cards-item h1 {
        display: flex;
        width: 160.79px;
        height: 28px;
        font-weight: 700;
        font-size: 18px;
        color: #111827;
        margin-left: 103.77px;
        margin-top: 24px;
    }

    .Our_Teachers-cards-item h2 {
        display: flex;
        width: 65.86px;
        height: 24px;
        font-weight: 400;
        font-size: 16px;
        color: #2563EB;
        margin-left: 151.22px;
    }
}