* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 20px 24px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    display: flex;
    margin-left: 112px;
    position: absolute;
    top: 20px;
}

.logo-text {
    display: flex;
    padding-left: 164px;
    padding-top: 30px;
    width: 124px;
    height: 28px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 600px;
    margin-top: 30px;
    flex-direction: row;
    font-size: 20px;
}

.search {
    display: flex;
    margin-right: 468.55px;
    margin-top: 32px;
}

.language_switcher {
    display: flex;
    margin-left: 100px;
    margin-top: -25px;
}

.language {
    display: flex;
    margin-left: 130px;
    margin-top: -20px;
    width: 49.69px;
    height: 16px;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 16px;
}

.language_scroll {
    display: flex;
    margin-left: 185px;
    margin-top: -20px;
}


@media (min-width:399px) {
    .language {
        display: none;
    }

    .logo-text {
        display: none;
    }

    .search {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .mobil_menu {
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: 28px;
        margin-top: 32px;
    }

    .logo_2 {
        position: relative;
        right: 50px;
        top: 27px;
        width: 40px;
        height: 40px;
    }

    .language_scroll {
        display: flex;
    }
}