* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 20px 24px;
    margin: 0 auto;
    background: #F7FAFC;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: #F7FAFC;
}

.mobil_menu {
    display: flex;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    margin-left: 20px;
}

.logo_2 {
    display: flex;
    padding-left: 64px;
    position: relative;
    top: 20px;
}

.language_switcher {
    position: absolute;
    display: flex;
    top: 32px;
    width: 16px;
    height: 16px;
    margin-left: 294px;
}

.language_scroll {
    display: flex;
    position: absolute;
    margin-left: 314px;
    top: 32px;
    width: 16px;
    height: 16px;
    color: #a4a5a5;
}

.theme_switcher {
    display: flex;
    position: absolute;
    left: 356px;
    width: 16px;
    height: 16px;
    top: 32px;
}

.logo-text {
    display: none;
}

.menu {
    display: none;
}

.search {
    display: none;
}

.language {
    display: none;
}

.buttom-connect {
    display: none;
}


@media (min-width: 768px) {}

@media (min-width: 1440px) {}